{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row py-4 min-height-100">
        <!-- Contact Form Section (LHS) -->
        <div class="col-lg-6 ml-3 mr-3 pt-4 pb-5 allauth-form-inner-content">
            <h1>Contact Us</h1>
            <p>Please fill out the form below, we'll be happy to hear from you!</p>
            
            <form method="POST">
                {% csrf_token %}
                {{ form.name | as_crispy_field }}
                {{ form.email | as_crispy_field }}
                {{ form.phone_number | as_crispy_field }}
                {{ form.subject | as_crispy_field }}
                {{ form.contact_type | as_crispy_field }}
                {{ form.message | as_crispy_field }}
                {{ form.rating | as_crispy_field }}
                <button class='btn-outline-primary btn' type="submit">Send Message</button>
            </form>
        </div>

        <!-- Testimonials Section (RHS) -->
        <div class="col-lg-5 ml-3 mr-3 pt-4 pb-5">
            <h2>Testimonials</h2>
            {% for testimonial in testimonials %}
                <div class="testimonial">
                    <h3>{{ testimonial.name }}</h3>
                    <p>{{ testimonial.message }}</p>
                    <p>Rating: {{ testimonial.rating }} / 5</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
