{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid" id="hero-background">
    <div class="row justify-content-center">
        <div class="container-fluid" id="hero">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-6 col-lg-6 text-center">
                    <div id="hero-logo-container">
                        <img id="hero-logo" src="{{ hero_logo_url }}" alt="The happy pharmacy company logo">
                    </div>
                    <h1 class="display-5 mt-6 text-center" id="hero-header">
                        Happy Pharmacy
                    </h1>
                    <p class='text-center'>Happy Pharmacy, Supplements & Vitamins – Nourish, Thrive, and Glow
                    </p>
                    <div class="my-5 text-center">

                        <a href="{% url 'products' %}"
                            class="shop-now-button accent-color btn btn-lg rounded-5 text-uppercase py-3">Buy Now</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row justify-content-center py-5">
        <div class="col-md-6">
            <!-- Begin Mailchimp Signup Form -->
            <div class="container" id="mailchimp-container">
                <div id="mc_embed_signup">
                    <form action="https://herokuapp.us17.list-manage.com/subscribe/post?u=ff16164f77877f41221b44369&amp;id=0131a598f4&amp;f_id=008754e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
                        <input type="text" name="b_ff16164f77877f41221b44369_0131a598f4" tabindex="-1" value="">
                    </div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                <p style="margin: 0px auto;"><a href="http://eepurl.com/iywEHU" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
                <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
                
            <!--End mc_embed_signup-->
        </div>
        <!-- Testimonials Section -->
        <div class="col-md-6 testimonials-container">
            <h2>Latest Testimonials...</h2>
            <div class="row">
                {% for testimonial in testimonials %}
                    <div class="col-lg-12 col-md-12 col-sm-12 testimonial-item">
                        <div class="testimonial">
                            <div class="rating">
                                {% for i in "12345" %}
                                    <span data-value="{{ i }}" class="star_testimonial {% if i|add:'0' <= testimonial.rating %}selected{% endif %}" style="pointer-events: none;">★</span>
                                {% endfor %}
                            </div>
                            <h3>{{ testimonial.subject }}</h3>
                            <p>{{ testimonial.content }}</p>
                            <p style="font-size: smaller;">{{ testimonial.name }} <small>{{ testimonial.created_at|date:"F j, Y" }}</small></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}