{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container min-height-100">
    <div class="row">
        <div class="col" id="404">
            <h1>Page Not Found</h1>
            <p>Please stick to the beaten track to prevent errors.</p>
            <img class="responsive-image" id="fourohfour" alt="404 error - a man with a magnifying glass looking for page "
                src="https://res.cloudinary.com/dghprmi1e/image/upload/v1693141781/404.png">
        </div>
    </div>
</div> {% endblock %}